<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.camfolo.edit</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundleDisplayName</key>
    <string>CamFolo</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>Allow CamFolo to access your device for App tracking. You can adjust it in Settings.</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>CamFolo needs to access the local network to connect to Firebase services for authentication and data synchronization.</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>googleapis.com</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <false/>
                <key>NSExceptionMinimumTLSVersion</key>
                <string>TLSv1.2</string>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <false/>
            </dict>
            <key>firebaseapp.com</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <false/>
                <key>NSExceptionMinimumTLSVersion</key>
                <string>TLSv1.2</string>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <false/>
            </dict>
            <key>identitytoolkit.googleapis.com</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <false/>
                <key>NSExceptionMinimumTLSVersion</key>
                <string>TLSv1.2</string>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <false/>
            </dict>
        </dict>
    </dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>$TikTokClientKey</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.camfolo.edit</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>camfolo</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.590921730807-6nt94i1uo28lsqb7rg148gvh2ruv32et</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb573729979008188</string>
            </array>
        </dict>
    </array>
    <key>CHANNEL</key>
    <string>$(CHANNEL)</string>
    <key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
    <false/>
    <key>FacebookAppID</key>
    <string>$FacebookAppID</string>
    <key>FacebookAutoLogAppEventsEnabled</key>
    <false/>
    <key>FacebookDisplayName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>tiktokopensdk</string>
        <string>tiktoksharesdk</string>
        <string>snssdk1180</string>
        <string>snssdk1233</string>
        <string>whatsapp</string>
        <string>snapchat</string>
        <string>fbapi</string>
        <string>fb-messenger-share-api</string>
        <string>instagram-stories</string>
    </array>
    <key>SnapChatClientKey</key>
    <string>$SnapChatClientKey</string>
    <key>TikTokClientKey</key>
    <string>$TikTokClientKey</string>

    <key>UIStatusBarHidden</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>systemBackground</string>
        <key>UIImageName</key>
        <string>AppIcon</string>
        <key>UIImageRespectsSafeAreaInsets</key>
        <false/>
        <key>UILaunchScreenMininumTime</key>
        <real>0.5</real>
    </dict>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
</dict>
</plist>
